<!DOCTYPE html>
<html lang="fr">

  <head> 

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Société Africa Assainissement, Nettoyage et Services</title>
    
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-grad-school.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">
   <link rel="stylesheet" href="assets/css/templatemo-style.css">
<!--
    
TemplateMo 557 Grad School

https://templatemo.com/tm-557-grad-school

-->
  </head>

<body>

   
  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="#"><img src="./assets/images/logo.png" alt="LOGO SANES" height="50"></a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="/">Acceuil</a></li>
        <li><a href="/sanes">SANES</a></li>
        <li><a href="/assainissement">Assainissement</a></li>
         <li><a href="/nettoyage">Nettoyage</a></li>
         <li class="has-submenu"><a href="#">Dévis</a>
          <ul class="sub-menu">
            <li><a href="/devisparticulier">Particulier</a></li>
            <li><a href="/devisprofessionnel">Professionnel</a></li>
          </ul>
        </li>
         <li><a href="/blog">Blog</a></li>
         <li><a href="/faq">F.A.Q</a></li>
        <!-- <li><a href="#section5">Video</a></li> -->
        <li><a href="/contact">Contact</a></li>
       
      </ul>
    </nav>
  </header>
 <section class="section contact" data-section="section6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Contactez-Nous</h2>
          </div>
        </div>
        <div class="col-md-6">
        
        <!-- Do you need a working HTML contact-form script?
                	
                    Please visit https://templatemo.com/contact page -->
                    
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-md-6">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Votre Nom" required="">
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email" placeholder="Votre Email" required="">
                  </fieldset>
                </div>
              <div class="col-md-12">
                <fieldset>
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Votre message..." required=""></textarea>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">Envoyer un message</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d212267.4552944263!2d10.809721009837105!3d33.768960217519634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13aabdc44b9702e3%3A0x316bc782a3fef156!2sMidoun!5e0!3m2!1sfr!2stn!4v1617189941698!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--    footer-->
  <footer id="footer">
    <div class="container">
         <div class="row">

              <div class="col-md-4 col-sm-6">
                   <div class="footer-info">
                        <div class="section-title">
                             <h2>Siege Social</h2>
                        </div>
                        <address>
                             <p>Rue 13 Août -4116
                              Midoun<br> Djerba
                              4116
                              Tunisie</p>
                        </address>

                        <ul class="social-icon">
                             <li><a href="https://www.facebook.com/sanesmoslah/" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                             <li><a href="#" class="fa fa-twitter"></a></li>
                             <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>

                        <div class="copyright-text"> 
                             <p>Copyright &copy; 2021 SANES</p>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-6">
                   <div class="footer-info">
                        <div class="section-title">
                             <h2>Nous contacter</h2>
                        </div>
                        <address>
                             <p>
                              Telephone : +216 75 733 436 <br>
                              Fax : +216 75 730 877 <br>
                              Mobile : +216 98 424 769 </p>
                             <p>kamelmoslah@sanesmoslah.com <br> direction.sousse@sanesmoslah.com</p>
                        </address>

                        <div class="footer_menu">
                             <h2>Quick Links</h2>
                             <ul>
                                  <li><a href="#">Career</a></li>
                                  <li><a href="#">Investor</a></li>
                                  <li><a href="#">Terms & Conditions</a></li>
                                  <li><a href="#">Refund Policy</a></li>
                             </ul>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-12">
                   <div class="footer-info newsletter-form">
                        <div class="section-title">
                             <h2>Newsletter Signup</h2>
                             <p>En vous inscrivant à notre Newsletter, vous serez toujours informé des dernières nouvelles.</p>
                        </div>
                        <div>
                             <div class="form-group">
                                  <form action="#" method="get">
                                       <input type="email" class="form-control" placeholder="Entrer votre email" name="email" id="email" required="">
                                       <input type="submit" class="form-control" name="submit" id="form-submit" value="Envoyer">
                                  </form>
                                  <span><sup>*</sup> Please note - we do not spam your email.</span>
                             </div>
                        </div>
                   </div>
              </div>
              
         </div>
    </div>
</footer>
  <!--   end footer-->

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/video.js"></script>
    <script src="assets/js/slick-slider.js"></script>
    <script src="assets/js/custom.js"></script>
    
</body>
</html>