<!DOCTYPE html>
<html lang="fr">

  <head> 

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Société Africa Assainissement, Nettoyage et Services</title>
    
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-grad-school.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">
   <link rel="stylesheet" href="assets/css/templatemo-style.css">
<!--
    
TemplateMo 557 Grad School

https://templatemo.com/tm-557-grad-school

-->
  </head>

<body>

   
  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="#"><img src="./assets/images/logo.png" alt="LOGO SANES" height="50"></a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="/">Acceuil</a></li>
        <li><a href="/sanes">SANES</a></li>
        <li><a href="/assainissement">Assainissement</a></li>
         <li><a href="/nettoyage">Nettoyage</a></li>
         <li class="has-submenu"><a href="#">Dévis</a>
          <ul class="sub-menu">
            <li><a href="/devisparticulier">Particulier</a></li>
            <li><a href="/devisprofessionnel">Professionnel</a></li>
          </ul>
        </li>
         <li><a href="/blog">Blog</a></li>
         <li><a href="/faq">F.A.Q</a></li>
        <!-- <li><a href="#section5">Video</a></li> -->
        <li><a href="/contact">Contact</a></li>
       
      </ul>
    </nav>
  </header>


  <section class="section why-us" data-section="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>NETTOYAGE</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div id='tabs'>
           
            <section class='tabs-content'>
              <article id='tabs-1'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/images/nettoyage.jpg" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Nettoyage en Tunisie</h4>
                         <p>La société SANES assure le nettoyage des locaux communs des établissements dans les domaines hôteliers et industriels. Nos  interventions se font comme suit :
                          les établissements occupé
                          Entretien quotidien <br> <br>
                          Pour l’entretien quotidien (7J/7J), un grand nettoyage le matin et suivie durant la journée. <br> <br> <br>
                          Notre service consiste à faire un Balayage sec et humide des sols en carrelage ou en marbre, enlèvement des traces de doigts sur les portes vitrées à chaque passage,nettoyage de toutes les vitres existantes (suivant état), dépoussiérage des colonnes et nettoyage des miroirs,dépoussiérage de tous les objets de décorations dépoussiérer et enlever les toiles d’araignée, dépoussiérage des prises, interrupteurs et extincteurs,dépoussiérage des fauteuils,balayage sec et humide des sols des ascenseurs, Vidage et essuyage des cendriers, essuyage des tables, cristallisation du sol en marbre, aspiration des moquettes,
                          Pour les sanitaires, toutes les heures, nettoyage complet des groupes sanitaires et mis en place des consommables (fournis par le client),nettoyage désinfectant et récurant des appareils sanitaires (cuvettes intérieur et extérieur couvercles, pieds de W.C., pissoirs),vérification des brosses W.C et supports,vidage des poubelles et nettoyage,dépoussiérage des sèche-mains et des distributeurs de savon,balayage sec et humide des sols en carrelage,nettoyage des miroirs, vérification des rouleaux de papier W.C,nettoyage faïence pourtour miroir,dépoussiérage des caches lampes, enlever les tâches existantes sur les murs en faïence,contrôle des W.C toutes les heures ,changement des brosses défectueuses (sur la charge du client). <br> <br>
                          <br> <br>
                          Entretien hebdomadaire  <br> <br>
                          Nettoyage et lustrage des vitres (deux faces), dépoussiérage  des meubles bas de rangement, dépoussiérage et nettoyage tout ce qui est pièces décoratives, appliques existantes, aspiration des salons et enlever les tâches, dépoussiérage des grilles des climatiseurs, dépoussiérage et nettoyage des appliques et caches des lampes, dépoussiérage des colonnes à fond et nettoyage des miroirs, détartrage et désinfection des sanitaires, dépoussiérage et nettoyage des bouches d’aération, nettoyage des portes et encadrement , nettoyage, lavage, désinfection des poubelle,nettoyage à fond des brosses W.C. et support.    <br> <br>  
                          <br> <br>
                          Entretien mensuel <br> <br>
                          Décapage mécanique du sol (mono brosse), dépoussiérage du plafond avec les lampes et les grille des climatiseurs.
                          <br> <br>
                          Nettoyage et mise en propre après chantier <br> <br>
                          Dans le cas des travaux de nettoyage et mise en propre après chantier, le service de SANES consiste à faire : <br>
                          Nettoyage sec et humide  des sols carrelés et des murs en faïence, situés dans les locaux destines par le client, Lavage et détachage humide de la moquette, lustrage des vitres, cristallisation du sol en marbre</p>
                </div>
              </article>
              <article id='tabs-2'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/images/nettoyage-sanes.jpg" alt="">
                  </div>
                  
                </div>
              </article>
             
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>

<hr>
  <!--    footer-->
  <footer id="footer">
    <div class="container">
         <div class="row">

              <div class="col-md-4 col-sm-6">
                   <div class="footer-info">
                        <div class="section-title">
                             <h2>Siege Social</h2>
                        </div>
                        <address>
                             <p>Rue 13 Août -4116
                              Midoun<br> Djerba
                              4116
                              Tunisie</p>
                        </address>

                        <ul class="social-icon">
                             <li><a href="https://www.facebook.com/sanesmoslah/" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                             <li><a href="#" class="fa fa-twitter"></a></li>
                             <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>

                        <div class="copyright-text"> 
                             <p>Copyright &copy; 2021 SANES</p>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-6">
                   <div class="footer-info">
                        <div class="section-title">
                             <h2>Nous contacter</h2>
                        </div>
                        <address>
                             <p>
                              Telephone : +216 75 733 436 <br>
                              Fax : +216 75 730 877 <br>
                              Mobile : +216 98 424 769 </p>
                             <p>kamelmoslah@sanesmoslah.com <br> direction.sousse@sanesmoslah.com</p>
                        </address>

                        <div class="footer_menu">
                             <h2>Quick Links</h2>
                             <ul>
                                  <li><a href="#">Career</a></li>
                                  <li><a href="#">Investor</a></li>
                                  <li><a href="#">Terms & Conditions</a></li>
                                  <li><a href="#">Refund Policy</a></li>
                             </ul>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-12">
                   <div class="footer-info newsletter-form">
                        <div class="section-title">
                             <h2>Newsletter Signup</h2>
                             <p>En vous inscrivant à notre Newsletter, vous serez toujours informé des dernières nouvelles.</p>
                        </div>
                        <div>
                             <div class="form-group">
                                  <form action="#" method="get">
                                       <input type="email" class="form-control" placeholder="Entrer votre email" name="email" id="email" required="">
                                       <input type="submit" class="form-control" name="submit" id="form-submit" value="Envoyer">
                                  </form>
                                  <span><sup>*</sup> Please note - we do not spam your email.</span>
                             </div>
                        </div>
                   </div>
              </div>
              
         </div>
    </div>
</footer>
  <!--   end footer-->

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/video.js"></script>
    <script src="assets/js/slick-slider.js"></script>
    <script src="assets/js/custom.js"></script>
    
</body>
</html>